[Desktop Entry]
Type=Application
Name=GeoNetMon
Comment=Real-time geo-aware network monitor & interactive firewall
Exec=geonetmon
Icon=geonetmon
Terminal=false
Categories=Network;Monitor;Security;
Keywords=network;connections;firewall;monitor;security;geoip;
StartupWMClass=com.jegly.GeoNetMon
